/* Include Eric Meyer's Reset CSS 2.0 */
@import "reset.css";

body {
    height: 100vh;
    background-color: lightblue;
}

.main-container {
    min-height: 80vh;
}

h1 {
    font-size: 32px;
    font-weight: bolder;
}

p {
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.bg-orange {
    background-color: rgb(212, 124, 1);
}

.bg-tan {
    background-color: blanchedalmond;
}

.bg-aqua {
    background-color: aqua;
}

.bg-teal {
    background-color: teal;
}